<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <div class="forgot mat-elevation-z12">
    <div fxLayout="column" fxLayoutAlign="center center" class="forgot-header">
      <img class="forgot-header-logo" src="../../../assets/img/logo.svg" alt="">
    </div>
    <form [formGroup]="form" (ngSubmit)="reset()" fxLayout="column" fxlayoutAlign="start stretch" class="forgot-content">
      <mat-form-field floatPlaceholder="auto">
        <input matInput type="email" [formControl]="email" required placeholder="E-mail">
      </mat-form-field>
      <button [disabled]="!form.valid" color="warn" mat-raised-button type="submit">Reset Password</button>
      <div class="note">
        <a routerLink="/login">Back to login</a>
      </div>
    </form>
  </div>
</div>
