<div class="container mat-elevation-z8">
  <h1 class="header">About application</h1>

  <h3>Technologies</h3>
  <ul>
    <li>
      <a target="_blank" routerLink="https://docs.microsoft.com/en-us/aspnet/core/">ASP.NET Core 2.0</a>
    </li>
    <li>
      <a target="_blank" routerLink="https://docs.microsoft.com/en-us/ef/core/">Entity Framework Core</a>
    </li>
    <li>
      <a target="_blank" routerLink="https://docs.microsoft.com/en-us/azure/cosmos-db/">Azure Cosmos DB</a>
    </li>
    <li>
      <a target="_blank" routerLink="https://cli.angular.io/">Angular CLI</a>
    </li>
    <li>
      <a target="_blank" routerLink="https://material.angular.io/">Material Design for Angular</a>
    </li>
    <li>
      <a target="_blank" routerLink="https://github.com/angular/flex-layout">Angular Flex-Layout</a>
    </li>
  </ul>
</div>
