<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <div class="register mat-elevation-z12">
    <div fxLayout="column" fxLayoutAlign="center center" class="register-header">
      <img class="register-header-logo" src="../../../assets/img/logo.svg" alt="">
    </div>
    <form [formGroup]="form" (ngSubmit)="register()" fxLayout="column" fxLayoutAlign="start stretch" class="register-content">
      <mat-form-field floatPlaceholder="auto">
        <input matInput type="text" [formControl]="firstName" required placeholder="First Name">
      </mat-form-field>
      <mat-form-field floatPlaceholder="auto">
        <input matInput type="text" [formControl]="lastName" required placeholder="Last Name">
      </mat-form-field>
      <mat-form-field floatPlaceholder="auto">
        <input matInput type="email" [formControl]="email" required placeholder="E-Mail">
      </mat-form-field>
      <mat-form-field floatPlaceholder="auto">
        <input matInput type="password" [formControl]="password" required placeholder="Password">
      </mat-form-field>
      <mat-form-field floatPlaceholder="auto">
        <input matInput type="password" [formControl]="confirmPassword" required placeholder="Password (Confirm)">
      </mat-form-field>
      <div class="extra-options">
        <mat-checkbox required [formControl]="accept" value="" color="primary">
          I accept th
          <a href="#">terms and conditions.</a>
        </mat-checkbox>
      </div>
      <button [disabled]="!form.valid" mat-raised-button color="primary" type="submit">Register</button>
      <p class="note">
        <span>Alredy have an account?</span>
        <br>
        <a routerLink="/login">Sign in here</a>
      </p>
    </form>
  </div>
</div>
